
{{#if hasContent}}
<h3>Your search result of {{limit}} images about {{search}}</h3>
{{#each imgs}}
    <img src="{{this.url}}" alt="">
    <h5>{{this.title}}</h5>
{{/each}}
{{else}}
<h3>Your search result of {{search}} returns no result</h3>
{{/if}}
<a href="/">HOME</a>